*{
    padding: 0;
    margin: 0;
    border: 0;
}



body{
    display: flex;
    flex-direction: column;
}

/* head section */

header{
    background: #1F2937;
    height: 500px;
}

.top-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 60px;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
}

#link-section{
    display: flex;
    list-style-type: none;
    color: #E5E7EB;
}

.links{
    padding: 15px;
}

.rectangle{
    background: #E5E7EB;
    margin-left: 30px;
}

.header-container{
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 60px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
}

#secondary-text{
    font-size: 18px;
    color: #E5E7EB;

}

.left-part, .rectangle{
    flex: 1 1 0px;
}

#button1{
    color: #F9FAF8;
    background: #3882F6;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

/* middle section */

.middle-section{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}

.squares{
/*    flex: 1;*/
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#middle-section-randInfo-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 200px;
}

.info-listing{
    display: flex;
    flex-direction: column;
    align-items: center;
/*    width: 130px;
    height: 162px;*/
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.info-listing-p, .squares{
    flex: 1 1 auto;
}

/* quote section */

.quote{
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    height: 200px;
}

h3{
    text-align: right;
    flex: 1;
}

#random-quote{
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    text-align: left;
    flex: 1;
}

/* call to action section */

.call-to-action{
    background: #3882F6;
    justify-content: flex-end;
}

/* footer */

footer{
    background: #1F2937;
}